.butten_primary{
  color: #ffffff;
  font-family: 'Noto Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.6rem 1.6rem;
  border: 0;
  line-height: 1.6rem;
  background: #2f80ed;
  border-radius: 8px;
}

.butten_primary:active{
  opacity: 0.7;
}